<%- include('partials/header') %>


<div class="home-container">
  <img class="home-img" src="imgs/home.png" alt="guitar and flowers" width="200"/>
  <h1 class="display-3">City Events</h1>
  <p class="lead">Discover interesting events in your city!</p>
  <br />
  <a class="login-btn btn btn-dark btn-lg" href="/signup" role="button">Sign Up</a>
  <a class="btn btn-warning btn-lg" href="/login" role="button">Login</a>
</div>

<%- include('partials/footer') %>
